/* Remove the standard margin/padding of the html body */

h1 {
    color:black;
    font-size: 30pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

body {
   
}

.menu {
    
}

.page {
background-image:url("");

}

.footer {

}