/* Remove the standard margin/padding of the html body */

h1 {
    color: palevioletred;
    font-size: 30pt;
    font-family: 
}

body {
    background-color: mistyrose;
   
}

.menu {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(240,128,128);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rosybrown;
  }

.page {
color:black;


}

.footer {

}



table, th, td {
    border: 2px solid black;
    margin: 25px;
    width: 50%;
    border-collapse: collapse;
}
    
.image{
  width: 500px;
  flex-shrink: 0;
  height: 300px;
  overflow:hidden ;
}

 .image img {
   scale: 0.55;
   margin:-515px 0px 0px --676px;
 }
 .text{
   width:48%;

 }
  .container{
    display: flex;
    justify-content: space-between;
  }
    

.imp {
  hyphens: auto; 
	text-align: justify

}
 


