/* Remove the standard margin/padding of the html body */

h1 {
    color:black;
    font-size: 30pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

body {
   
}

.menu {
    
}

.page {
color: blue;


}

.footer {

}

.home{
    width;10%:
    height: : 20rem;  
    
    
}
.home p {
    position:fixed;
    width: fit-content;

}