/* Remove the standard margin/padding of the html body */

h1 {
    color:black;
    font-size: 30pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

body {
    background-color: blanchedalmond;
   
}

.menu {
    
}

.page {
color: blue;


}

.footer {

}


    
.imagecrop {
    width: 50%;
    height: 10px;
}

 .image img {
   scale: 0.55;
   margin:-515px 0px 0px --676px;
 }
 .text{
   width:48%;

 }
  .container{
    display: flex;
    justify-content: space-between;
  }
    

.imp {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;

  display: flex;
  align-items: center;


.home p {
    position:fixed;
    width:fit-content;

}

.Getränk2 table{
    background-color: darkgrey;
    border-color:black;
    border-style: solid;
}
